/* Adapted from https://github.com/kevquirk/simple.css-site/blob/main/assets/css/style.css */
nav a.current {
  color: var(--accent) !important;
  border-color: var(--accent) !important;
  text-decoration: none;
}

a:hover {
  color: var(--text-light);
}

time {
  font-variant-numeric: tabular-nums;
}

.meta {
  color: var(--text-light);
  font-size: 1rem;
}

.notice {
  background: var(--accent-bg);
  border: 2px solid var(--border);
  border-radius: 5px;
  padding: 1.5rem;
  margin: 2rem 0;
}

.medium {
  font-size: 1.4rem;
}

.small {
  font-size: 1rem;
}

.button {
  border: none;
  border-radius: 5px;
  background: var(--accent);
  font-size: 1rem;
  color: var(--bg);
  padding: 0.7rem 0.9rem;
  margin: 0.5rem 0;
}

.button:hover,
.button:focus {
  filter: brightness(1.4);
  cursor: pointer;
  text-decoration: none;
}

.replyButton {
  display: inline-block;
  width: -webkit-fill-available;
  text-align: center;
  margin-top: 3rem;
}

.replyButton:hover {
  color: var(--bg);
}

.icon {
  vertical-align: sub;
  padding-right: 0.25rem;
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.list {
  padding: 0;
  list-style: none;
  font-variant-numeric: tabular-nums;
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.list li {
  display: flex;
  align-items: baseline;
}

@media (max-width: 500px) {
  .list li {
    display: grid;
    margin-bottom: 1rem;
  }
}

.list small {
  flex-shrink: 0;
}