<header>
    {{ partial "navigation" . }}
    {{ if eq .IsHome true }}
        {{ $title := default .Site.Title .Site.Params.Title }}
        {{ if .Site.Title }}<h1>{{ $title | safeHTML }}</h1>{{ end }}
        {{ if .Site.Params.Subtitle }}<p>{{ .Site.Params.Subtitle | safeHTML }}</p>{{ end }}
    {{ else }}
        {{ if .Title }}<h1>{{ .Title | safeHTML }}</h1>{{ end }}
        {{ if .Description }}<p>{{ .Description | safeHTML }}</p>{{ end }}
    {{ end }}
    {{ if .IsPage }}
        {{ if .PublishDate }}
            {{ partial "date.html" .PublishDate }}
        {{ end }}
        {{ if .Lastmod }}
            {{ if ne .PublishDate .Lastmod }}
                {{ partial "date.html" .Lastmod }}
            {{ end }}
        {{ end }}
    {{ end }}
</header>