<header>
    {{ partial "navigation" (dict "menu" .Site.Menus.headertop ) }}

    {{ if or .Title .Description }}
        {{ if .Title }}<h1>{{ .Title | safeHTML }}</h1>{{ end }}
        {{ if .Description }}<p>{{ .Description | safeHTML }}</p>{{ end }}
    {{ else }}
        {{ $title := default .Site.Title .Site.Params.Title }}
        {{ if .Site.Title }}<h1>{{ $title | safeHTML }}</h1>{{ end }}
        {{ if .Site.Params.Subtitle }}<p>{{ .Site.Params.Subtitle | safeHTML }}</p>{{ end }}
    {{ end }}

    {{ partial "navigation" (dict "menu" .Site.Menus.headerbottom ) }}
</header>